<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/adminlogin1css.css">
    <link rel="stylesheet" href="css/practiceonlinecodecss.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    </style>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a class="logi" href="/index" style=" font-family: 'Kaushan Script', cursive;">SFI</a>
            </div>
            <ul>
                <li><a id="home" href="/index">Home</a></li>
                <li><a href="/adminlogin">Admin</a></li>
                <li><a href="/studentLogin">Student</a></li>
                <li><a href="/facultylogin">Faculty</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>